@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

/****Navbar*****/
a {
  text-decoration: none;
  color: #54436B;
}

li {
  list-style-type: none;
  float: left;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card {
  /* background-color: ; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-logo {
  width: 15em;
  align-items: flex-start;
  margin: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 2;
  padding: 10px 0;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  margin: 0 10px;
}

.button-in {
  background-color: #4CAF50; 
  border: none;
  color: white;
  margin: auto;
  margin-right: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/****** slide show ********/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*line*/
.line {
  margin: 20px auto;
  border-radius: 10px;
  width: 100px;
  border-top: 10px solid #4CAF50;
}


/*sub-title*/
.sub-title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

/*kelebihan*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.kelebihan {
  margin: 20px 100px;
}

.kelebihan-item {
  padding: 30px;
  margin: 40px;
}

.kelebihan-title {
  margin-top: 15px;
}